/* 電光掲示板:https: //yomiaki.com/log/2022-04-30/ (使おうとしたけどやめた)*/
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.c-marker {
    background: -webkit-linear-gradient(left, rgb(255, 250, 153) 50%, transparent 50%);
    background: -moz-linear-gradient(left, rgb(255, 250, 153) 50%, transparent 50%);
    background: linear-gradient(left, rgb(255, 250, 153) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em;
    background-position: 100% .5em;
    transition: 2s;
}

.c-marker.is-active {
    background-position: 0% .5em;
}

body{
    font-family: 'BIZ UDGothic', sans-serif;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}


.big{
    font-size: 50px;
}

.icon{
    z-index: -2;
    width: 50px;
    height: auto;
}

body{
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.news{
    background-color: yellow;
    color: black;
}

.contents {
    position: absolute;
    /*top: 50%;
    left: 50%;
    margin-right: -50%;
      transform: translate(-50%, -50%);*/
    width: 32em;
    height: 10em;
    background-color: #555555;
    padding: 0px;
}

.logo {
    position: absolute;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1em;
    color: #FFFFFF;
    top: 0.5em;
    width: 100%;
    height: 100%;
}


.contents2 {
    position: absolute;
    top: 30px;
    left: 1em;
    width: 100%;
    height: 100%;
}

.text {
    position: relative;
    width: 30em;
    /* 枠の大きさ */
    border: solid 1px;
    /* 枠線 */
    background-color: #2f1825;
    padding: 0px;
    /* 枠線の内側の余白 */
    overflow: hidden;
    /* 枠からはみ出た部分を非表示 */

}

.text p {
    position: relative;
    z-index: 1;
    font-size: 3em;
    color: #FF6633;
    text-shadow: 0 0 20px;
    padding-left: 100%;
    /* 右端から文字をスタートさせるため */
    white-space: nowrap;
    /* 改行が起こらないように対策 */
    line-height: 0px;
    /* 行間（高さ）を1文字分にする */
    animation: scroll 10s steps(60) infinite;
    /* 下のアニメーションを10秒かけて行い、それをくりかえす */
}

.text a {
    color: inherit;
    text-decoration: none;
}

.dots {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent 0 1px,
            rgba(0, 0, 0, 1) 1px);
    pointer-events: none;
    background-size: 3px 3px;
    content: '';
}

/* アニメーション（右から左に移動） */
@keyframes scroll {
    0% {
            transform: translate(100%, 0);
        }
    
        100% {
            transform: translate(-10%, 0);
        }
}

/* アニメーション（右から左に移動） */
@keyframes scroll {
    0% {
            transform: translate(100%, 0);
        }
    
        100% {
            transform: translate(-10%, 0);
        }
}


.small{
    font-size: 5%;
        color: gray;
}

.small-img{
    width: 30%;
    height: auto;
}

.img-side{
    display: flex;
}

.imgback{
    z-index: 0;
}

.iath{ /* Image Align the Heights (高さを揃える) */
    height: auto;
    width: 50%;
}

body {
    -webkit-text-size-adjust: 100%;
}

.img1 {
    max-width: 100%;
    max-height: auto;
}

.up-ul{
    z-index: 10000;
}

.up-main{
    z-index: 1000000000;
}

/* スクロールCSS */
.fade-in {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
}

.fade-in-up {
    transform: translate(0, 50px);
}

.fade-in-down {
    transform: translate(0, -50px);
}

.fade-in-left {
    transform: translate(-50px, 0);
}

.fade-in-right {
    transform: translate(50px, 0);
}

.scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}